<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Boostrap Admin Panel"/>
    <meta name="author" content=""/>
    <title>Base Style</title>
    <link rel="stylesheet" href="/fonts/font-awesome-4/css/font-awesome.min.css">
    <link href="/js/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/handlebars-v4.0.5.js"></script>
</body>
</html>